include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/price-card/price-card.pug
include ../../components/donut-chart/donut-chart.pug
include ../../components/room-info/room-info.pug
include ../../components/comment/comment.pug
include ../../components/bullet-list/bullet-list.pug
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='room details')
    meta(name='description' content='room details')
    title Room details
    link(rel='stylesheet' href='./room-details.scss')
    script(src='../jquery-for-parcel.js')
    script(src='./room-details.js')
  body.room-details
    .room-details__wrapper
      nav.room-details__header
        +header({
          lang: 'ru',
          type: 'anon',
          userName: '',
        })
      .room-details__images
        .room-details__main-image
        .room-details__second-images
          .room-details__image_two
          .room-details__image_three
      .room-details__content-wrapper
        .room-details__content
          .room-details__details
            .room-details__room-info
              p.room-details__room-info-title Сведения о номере
              .room-details__room-info-element
                +room-info()
            .room-details__room-feeling
              .room-details__room-feeling-title Впечатления от номера
              .room-details__room-feeling-element
                +donut-chart()
          .room-details__room-reviews
            p.room-details__room-reviews-title Отзывы посетителей номера
            .room-details__room-review
            .room-details__room-review
          .room-details__additional-info
            .room-details__rules
              .room-details__rules-title
              .room-details__rules-list
            .room-details__room-cancel
              .room-details__cancel-title
              .room-details__cancel-text
      .room-details__footer
        +footer({
          lang: 'ru',
          type: 'widgets',
        })
    