include ../../components/search-card/search-card.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
- 
  let dropArrayGuests = [
    {item: 'Взрослые', id: 'adults', group: 'true',},
    {item: 'Дети', id: 'kids', group: 'true',},
    {item: 'Младенцы', id: 'babies', group: 'false',},
  ];
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='landing page')
    meta(name='description' content='landing page')
    title Landing Page
    link(rel='stylesheet' href='./landing-page.scss')
    link(rel='shortcut icon' type='image/x-icon' href='../../icons/favicon.ico')
    script(src='../jquery-for-parcel.js')
    script(src='./landing-page.js')
  body.landing-page
    .landing-page__wrapper
      nav.landing-page__header
        +header({
          lang: 'ru',
          type: 'anon',
          userName: '',
        })
      .landing-page__content
        .landing-page__search-card
          +search-card({
              dropdownArray: dropArrayGuests,
          })
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      .landing-page__footer
        +footer({
          lang: 'ru',
          type: 'widgets',
        })
    