.radio {
  max-width: 220px;

  //скрытие стандартного элемента
  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  // отступы
  input[type="radio"]:checked+span,
  input[type="radio"]:not(:checked)+span {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }

  //неактивный текст
  input[type="radio"]:not(:checked)+span {
    color: rgba(31, 32, 65, 0.5);
  }

  //стилизованный элемент
  input[type="radio"]:checked+span:before,
  input[type="radio"]:not(:checked)+span:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid #BC9CFF;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 100%;
  }

  //неактивный элемент
  input[type="radio"]:not(:checked)+span:before {
    border: 1px solid rgba(31, 32, 65, 0.25);
  }

  //кружочек выбора 
  input[type="radio"]:checked+span:after,
  input[type="radio"]:not(:checked)+span:after {
    content: "";
    position: absolute;
    left: 4px;
    top: 7px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  //скрытие показ
  input[type="radio"]:not(:checked)+span:after {
    opacity: 0;
  }

  input[type="radio"]:checked+span:after {
    opacity: 1;
  }

}

.radio {
  display: flex;
  justify-content: space-between;
}