mixin radio(options)
  .radio
    label.radio__label
      .radio__input-wrapper
        input(class='radio__input', type='radio', name=options.name, value='male', checked)
        span.radio__title Мужчина
    label.radio__label
      .radio__input-wrapper
        input(class='radio__input', type='radio', name=options.name, value='female')
        span.radio__title Женщина
