mixin radio(options)
  .radio
    label
      input(class='radio__input', type='radio', name='radio', value='male')
      span Мужчина
      input(class='radio__input', type='radio', name='radio', value='female')
      span Женщина
