mixin radio(options)
  .radio
    label.radio__label
      .radio__input-wrapper
        input(class='radio__input', type='radio', name='radio', value='male')
        span.radio__title Мужчина
    label.radio__label
      .radio__input-wrapper
        input(class='radio__input', type='radio', name='radio', value='female')
        span.radio__title Женщина
