@import '../common/normalize.scss';
@import '../common/variables.scss';
@import '../common/global.scss';
@import '../common/fonts.scss';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';
@import '../../components/room-card/room-card.scss';
@import '../../components/checkbox-buttons/checkbox-buttons.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/slider/slider.scss';
@import '../../components/exp-checkbox/exp-checkbox.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/date-dropdown/date-dropdown.scss';

.search-room {
  &__wrapper {
    max-width: 1440px;
    min-width: 385px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  &__header {}

  &__content-wrapper {
    flex: 1;
    display: flex;
    flex-flow: column;
  }

  &__room-card {}

  &__aside {}

  &__date-dropdown {}

  &__guests-dropdown {}

  &__slider {}

  &__checkbox-buttons {}

  &__rich-checkbox-buttons {}

  &__items-dropdown {}

  &__exp-checkbox-buttons {}

  &__content {}

  &__title {}

  &__rooms {}

  &__pagination {}

  &__footer {}
}