mixin date-dropdown(options)
  .date-dropdown
    input(type='text' class='date-dropdown__input js-date-dropdown' placeholder='ДД.ММ.ГГГГ')
    span.date-dropdown__expand-more.material-icons expand_more