include ../../components/logo/logo.pug
include ../../components/text-field/text-field.pug
include ../../components/checkbox-buttons/checkbox-buttons.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/radio/radio.pug
include ../../components/toggle/toggle.pug
include ../../components/rate-button/rate-button.pug
include ../../components/room-info/room-info.pug
include ../../components/button/button.pug
include ../../components/like-button/like-button.pug
include ../../components/comment/comment.pug
include ../../components/pagination/pagination.pug
include ../../components/slider/slider.pug
include ../../components/exp-checkbox/exp-checkbox.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
- 
  let dropArrayGuests = [
        {item: 'Взрослые', id: 'adults', group: 'true',},
        {item: 'Дети', id: 'kids', group: 'true',},
        {item: 'Младенцы', id: 'babies', group: 'false',},
      ];
  let dropArrayItems = [
        {item: 'Спальни', id: 'bedrooms', group: 'false',},
        {item: 'Кровати', id: 'beds', group: 'false',},
        {item: 'Ванные комнаты', id: 'bathrooms', group: 'false',},
      ];
doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='form, elements')
    meta(name='description' content='Form Elements')
    title Form Elements
    link(rel='stylesheet' href='./form-elements.scss')
    script(src='../jquery-for-parcel.js')
    script(src='./form-elements.js')
  body
    .form-elements__content
      .form-elements__logo
        +logo({type: 'uikit'})
      .form-elements__main-wrapper
        .form-elements__left-wrapper
          .form-elements__text-field
            .form-elements__text-field-info
              p.form-elements__text-field-title text field
              p.form-elements__text-field-description default
            .form-elements__text-field-element
              +text-field({
                type: 'email',
                placeholder: 'Email',
                isMasked: 'false',
                })
            .form-elements__text-field-info
              p.form-elements__text-field-title text field
              p.form-elements__text-field-description hover / focus
            .form-elements__text-field-element
              +text-field({
                type: 'text',
                placeholder: 'This is pretty awesome',
                isMasked: 'false',
                })
          .form-elements__dropdown
            .form-elements__dropdown-info
              p.form-elements__dropdown-title dropdown
              p.form-elements__dropdown-description default
            .form-elements__dropdown-element
              +dropdown({
                items: dropArrayGuests,
              })
          .form-elements__masked-text-field
            .form-elements__masked-text-field-info
              p.form-elements__masked-text-field-title masked text field
              p.form-elements__masked-text-field-description default
            .form-elements__masked-text-field-element
              +text-field({
                type: 'text',
                placeholder: 'ДД.ММ.ГГГГ',
                isMasked: 'true',
                })
          .form-elements__filter-date-dropdown
            .form-elements__filter-date-dropdown-info
              p.form-elements__filter-date-dropdown-title date dropdown
              p.form-elements__filter-date-dropdown-title date dropdown
            .form-elements__filter-date-dropdown-element
              +filter-date-dropdown()
          .form-elements__date-dropdown
            p.form-elements__date-dropdown-title filter date dropdown
            .form-elements__date-dropdown-element
              +date-dropdown()
          .form-elements__sub-text-field
            p.form-elements__sub-text-field-title subscription text field
            .form-elements__sub-text-field-element
              +sub-text-field({
                type: 'email',
                placeholder: 'Email',
                isMasked: 'false',
                link: 'fake.html',
              })

          .form-elements__dropdown
            .form-elements__dropdown-info
              p.form-elements__dropdown-title dropdown
              p.form-elements__dropdown-description deafult
            .form-elements__dropdown-element
              +dropdown({
                items: dropArrayItems,
                
              })
          .form-elements__dropdown
            .form-elements__dropdown-info
              p.form-elements__dropdown-title dropdown
              p.form-elements__dropdown-description expanded
            .form-elements__dropdown-element
          .form-elements__expandable-checkbox-list
          .form-elements__expandable-checkbox-list
        .form-elements__center-wrapper
          .form-elements__checkbox-buttons
          .form-elements__radio-buttons
            .form-elements__radio-buttons-title
            .form-elements__radio-buttons-element
          .form-elements__toggle
            .form-elements__toggle-title
            .form-elements__toggle-element
            .form-elements__toggle-element
          .form-elements__like-button
            .form-elements__like-button-title
            .form-elements__like-button-element
            .form-elements__like-button-element
          .form-elements__rate-button
            .form-elements__rate-button-title
            .form-elements__rate-button-element
            .form-elements__rate-button-element
          .form-elements__dropdown
            .form-elements__dropdown-title
            .form-elements__dropdown-element
          .form-elements__rich-checkbox-buttons
        .form-elements__right-wrapper
          .form-elements__slider
          .form-elements__buttons
            .form-elements__common-button
              .form-elements__common-button_normal
              .form-elements__common-button_hover
            .form-elements__transparent-button
              .form-elements__transparent-button_normal
              .form-elements__transparent-button_hover
            .form-elements__button-with-no-border
              .form-elements__button-with-no-border_normal
              .form-elements__button-with-no-border_hover
            .form-elements__button-wide
            .form-elements__pagination
              .form-elements__pagination-title
              .form-elements__pagination-element
            .form-elements__dropdown
              .form-elements__dropdown-title
              .form-elements__dropdown-element
            .form-elements__bullet-list
        .form-elements__bottom-wrapper
          .form-elements__room-info
          .form-elements__comment
