@import '../common/normalize.scss';
@import '../common/variables.scss';
@import '../common/global.scss';
@import '../common/fonts.scss';
@import '../../components/text-field/text-field.scss';
@import '../../components/checkbox-buttons/checkbox-buttons.scss';
@import '../../components/bullet-list/bullet-list.scss';
@import '../../components/radio/radio.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/rate-button/rate-button.scss';
@import '../../components/room-info/room-info.scss';
@import '../../components/button/button.scss';
@import '../../components/comment/comment.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/slider/slider.scss';
@import '../../components/exp-checkbox/exp-checkbox.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/date-dropdown/date-dropdown.scss';
@import '../../components/filter-date-dropdown/filter-date-dropdown.scss';

.form-elements {
  &__content {
    max-width: 1440px;
    min-width: 350px;
    margin: 0 auto;
  }

  &__logo {
    margin: 30px 0 0 30px;
  }

  &__main-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 62px 141px 131px 140px;
  }

  &__left-wrapper,
  &__right-wrapper,
  &__center-wrapper {
    flex-basis: 320px;
  }

  &__text-field {}

  &__text-field-info {}

  &__text-field-title {}

  &__text-field-description {}

  &__text-field-element {}

  &__dropdown {}

  &__dropdown-info {}

  &__dropdown-title {}

  &__dropdown-description {}

  &__dropdown-element {}

  &__masked-text-field {}

  &__masked-text-field-info {}

  &__masked-text-field-title {}

  &__masked-text-field-description {}

  &__masked-text-field-element {}

  &__filter-date-dropdown {}

  &__filter-date-dropdown-title {}

  &__filter-date-dropdown-element {}

  &__date-dropdown {}

  &__date-dropdown-title {}

  &__date-dropdown-element {}

  &__dropdown-field {}

  &__dropdown-field-info {}

  &__dropdown-field-title {}

  &__dropdown-field-description {}

  &__expandable-checkbox-list {}

  &__center-wrapper {}

  &__checkbox-buttons {}

  &__radio-buttons {}

  &__radio-buttons-title {}

  &__radio-buttons-element {}

  &__toggle {}

  &__toggle-title {}

  &__toggle-element {}

  &__like-button {}

  &__like-button-title {}

  &__like-button-element {}

  &__rate-button {}

  &__rate-button-title {}

  &__rate-button-element {}

  &__rich-checkbox-buttons {}

  &__right-wrapper {
    flex-basis: 360px;
  }

  &__slider {}

  &__buttons {}

  &__common-button {}

  &__common-button_normal {}

  &__common-button_hover {}

  &__transparent-button {}

  &__transparent-button_normal {}

  &__transparent-button_hover {}

  &__button-with-no-border {}

  &__button-with-no-border_normal {}

  &__button-with-no-border_hover {}

  &__button-wide {}

  &__pagination {}

  &__pagination-title {}

  &__pagination-element {}

  &__bullet-list {}

  &__bottom-wrapper {
    flex-basis: 100%;
  }

  &__room-info {}

  &__comment {}
}