include ../like-button/like-button.pug

mixin comment(options)
  .comment
    img(class='comment__image', src='', alt='')
    .comment__user-info
      p.comment__user-name
      p.comment__last-activity
    +like-button({count: '12'})
    p.comment__info
      
      