include ../components/color-intro/color-intro.pug
include ../components/text-intro/text-intro.pug
include ../components/logo/logo.pug
doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='colors, types')
    meta(name='description' content='Colors and types')
    title Colors and type
    link(rel='stylesheet' href='colors-and-type.scss')
  body
    .content-uikit
      .content-uikit__logo
        +logo({type: "uikit"})
      .content-uikit__color-block
        +color-intro({color: 'Dark Shade 100%', code: '#1F2041'})
        .content-uikit__color-intro
          +color-intro({color: 'Dark Shade 75%', code: '#1F2041'})
        .content-uikit__color-intro
          +color-intro({color: 'Dark Shade 50%', code: '#1F2041'})
        .content-uikit__color-intro
          +color-intro({color: 'Dark Shade 25%', code: '#1F2041'})
        .content-uikit__color-intro
          +color-intro({color: 'Dark Shade 5%', code: '#1F2041'})
        .content-uikit__color-intro
          +color-intro({color: 'Purple', code: '#BC9CFF'})
        .content-uikit__color-intro
          +color-intro({color: 'Green', code: '#6FCF97'})
      .content-uikit__text-block
        .content-uikit__text-intro-h1
          +text-intro({type: "h1", text: "This one is the sub-section or widget title"})
        .content-uikit__text-intro-h2
          +text-intro({type: "h2", text: "Next one is the item title inside widgets"})
        .content-uikit__text-intro-h3
          +text-intro({type: "h3", text: "This is a label or CTA text"})
        .content-uikit__text-intro-body
          +text-intro({type: "body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."})  
