include ../components/text-field/text-field.pug
include ../components/checkbox-buttons/checkbox-buttons.pug
include ../components/bullet-list/bullet-list.pug
include ../components/radio/radio.pug
include ../components/toggle/toggle.pug
include ../components/rate-button/rate-button.pug
include ../components/room-info/room-info.pug
include ../components/button/button.pug
include ../components/like-button/like-button.pug
doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='form, elements')
    meta(name='description' content='Form Elements')
    title Form Elements
    link(rel='stylesheet' href='form-elements.scss')
  body
    
    +checkboxButtons()
    +richCheckboxButtons()
    +radio({name: 'test1'})
    +radio({name: 'test2'})
    +radio({name: 'test3'})
    +toggle({name: 'offer'})

    +rate-button({rate: "4"})

    +bulletList

    +room-info

    +button({text: 'Click me', 
            isRegister: 'false',
            isRegisterRus: 'false',
            isWithArrow: 'false',
            transparent: 'false',
            isNoBorder: 'true'})
    
    +like-button({count: '12'})
    +like-button({count: '13'})
    +like-button({count: '-1'})
    script(src='form-elements.js')