@font-face 
  font-family:"Quicksand" 
  src: url("../components/fonts/quicksand/Quicksand-Bold.woff") format("woff")
  src: url("../components/fonts/quicksand/Quicksand-Bold.ttf") format("truetype")
  src: url("../components/fonts/quicksand/Quicksand-Bold.svg") format("svg")
  font-style: normal
  font-weight: bold

@font-face 
  font-family:"Montserrat" 
  src: url("../components/fonts/montserrat/Montserrat-Bold.woff") format("woff")
  src: url("../components/fonts/montserrat/Montserrat-Bold.ttf") format("truetype")
  src: url("../components/fonts/montserrat/Montserrat-Bold.svg") format("svg")
  font-style: normal
  font-weight: bold

  @font-face 
  font-family:"Montserrat" 
  src: url("../components/fonts/montserrat/Montserrat-Regular.woff") format("woff")
  src: url("../components/fonts/montserrat/Montserrat-Regular.ttf") format("truetype")
  src: url("../components/fonts/montserrat/Montserrat-Regular.svg") format("svg")
  font-style: normal
  font-weight: normal

 
