//Подключение шрифтов
@font-face {
  font-family:'Quicksand';
  src: url('../fonts/quicksand/Quicksand-Regular.woff') format('woff'),
    url('../fonts/quicksand/Quicksand-Regular.ttf') format('truetype'),
    url('../fonts/quicksand/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
}
  
@font-face {
  font-family:'Quicksand';
  src: url('../fonts/quicksand/Quicksand-Bold.woff') format('woff'),
    url('../fonts/quicksand/Quicksand-Bold.ttf') format('truetype'),
    url('../fonts/quicksand/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family:'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-style: normal;
  font-weight: bold;
}

//глобальные
html {
  background-color: white;
  font-family: Quicksand, Arial, sans-serif;
  font-size: 16px;
}



// UI Kit
// все стили компонентов
@import '../components/color-intro/color-intro.scss';
