@import '../common/normalize.scss';
@import '../common/variables.scss';
@import '../common/global.scss';
@import '../common/fonts.scss';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';

.headers-and-footers {
  &__content {
    max-width: 1440px;
    min-width: 350px;
    margin: 0 auto;
    background: #F4F4F6;
  }


  &__logo {
    margin: 30px 0 0 30px;
  }

  &__header-standard {
    margin-top: 72px;
  }

  &__header-standard-logged {
    margin-top: 40px;
  }

  &__footer-widgets-copyright {
    margin-top: 40px;
  }

  &__footer-crative {
    margin-top: 40px;
  }
}