@import '../button/button.scss';

.header {
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark5;


  &__content {
    display: flex;
    padding: 15px 140px;
    align-items: center;
  }

  &__menu {
    display: flex;
  }

  &__buttons {
    display: flex;
  }
}