@import '../button/button.scss';

.header {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark5;


  &__content {

    padding: 15px 10px;

    @media(min-width: 752px) {
      padding: 15px 140px;
    }

  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media(min-width: 752px) {
      justify-content: center;
    }
  }

  &__logo {

    @media(min-width: 752px) {
      flex: 1;
    }

    @media(min-width: 1250px) {
      order: 0;
    }
  }

  &__item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
    padding: 0 auto;


    @media(min-width: 1250px) {
      display: flex;
      width: auto;
      order: 1;
      margin-right: 30px;
    }

    &_active {
      display: flex;
    }
  }

  &__item.header__buttons,
  &__item.header__user {
    order: 2;

    @media(min-width: 752px) {
      width: auto;
      order: 1;
      display: block;
      margin-left: 1.25rem;
    }

    @media(min-width: 1250px) {
      order: 2;
      margin-left: 0;
    }
  }



  &__link {
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $dark50;
    text-decoration-line: none;
    margin: 0 auto;
    text-align: center;
    display: inline-block;


    &:focus,
    &:hover {
      color: $dark75;
    }
  }

  &__icon {
    cursor: pointer;
    color: $dark50;
    display: none;



    &:focus,
    &:hover {
      color: $dark75;
    }

    @media(min-width: 1250px) {
      display: block;
    }
  }

  &__buttons {
    margin: 0;
  }

  &__login-button {
    margin: 2px auto;

    @media(min-width: 1250px) {
      margin-right: 20px;
      margin-left: 0;
    }
  }

  &__register-button {
    margin: 2px auto;

    @media(min-width: 1250px) {
      margin-right: 0px;
    }
  }

  &__separator {
    width: 1px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);
    display: none;

    @media(min-width: 1250px) {
      display: block;
    }
  }

  &__user {
    margin: 0;
  }

  &__user-name {
    margin: 0 auto;
    font-family: $montserrat;
    font-size: 14px;
    color: $dark75;

    @media(min-width: 1250px) {
      color: $dark50;
    }
  }


  &__toggle {
    order: 1;

    @media(min-width: 752px) {
      flex: 1;
      text-align: right;
      order: 2;
    }

    @media(min-width: 1250px) {
      display: none;
    }
  }
}