@import '../button/button.scss';

.header {
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark5;


  &__content {}

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media(min-width: 600px) {
      justify-content: center;
    }
  }

  &__logo {

    @media(min-width: 600px) {
      flex: 1;
    }

    @media(min-width: 900px) {
      order: 0;
    }
  }

  &__item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;

    @media(min-width: 900px) {
      display: flex;
      width: auto;
      order: 1;
    }

    &_active {
      display: flex;
    }
  }

  &__item.header__buttons {
    order: 2;

    @media(min-width: 600px) {
      width: auto;
      order: 1;
      display: block;
    }

    @media(min-width: 900px) {
      order: 2;
    }
  }



  &__link {
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $dark50;
    text-decoration-line: none;

    &:focus,
    &:hover {
      color: $dark75;
    }
  }

  &__icon {
    cursor: pointer;
    color: $dark50;

    &:focus,
    &:hover {
      color: $dark75;
    }
  }




  &__toggle {
    order: 1;

    @media(min-width: 600px) {
      flex: 1;
      text-align: right;
      order: 2;
    }

    @media(min-width: 900px) {
      display: none;
    }
  }
}