mixin bulletList
  .bullet-list
  p(class="bullet-list__title") bullet list
  ul(class="bullet-list__list")
    li Нельзя с питомцами
    li Без вечеринок и мероприятий
    li Время прибытия — после 13:00, а выезд до 12:00