.bullet-list {
  width: 292px;

  &__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #1f2041;
    margin-bottom: 17px;
  }

  &__list {
    font-family: Montserrat, Arial, sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding-left: 20.86px;
    position: relative;
  }

  &__item:nth-child(n + 2) {
    margin-top: 18px;
  }

  &__item:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    height: 10px;
    width: 10.43px;
    border-radius: 50%;
    background: $dark25;
  }

}