.bullet-list {
  width: 100%;
  max-width: 18.25rem;

  &__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    color: #1f2041;
    margin-bottom: 0.5rem;
  }

  &__list {
    font-family: Montserrat, Arial, sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding-left: 1.3038rem;
    position: relative;
  }

  &__item:nth-child(n + 2) {
    margin-top: 0.625rem;
  }

  &__item:before {
    content: "";
    position: absolute;
    top: 0.4375rem;
    left: 0;
    height: 0.625rem;
    width: 0.6519rem;
    border-radius: 50%;
    background: $dark25;
  }
}
