.text-intro__text-tag {
  font-family: $montserrat;
  ;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $dark25;
  margin: 0;
  text-align: right;

  &_h3 {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
  }

  &_h2 {
    font-size: 1.1875rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  &_h1 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    text-transform: uppercase;
  }
}