.room-info {
  width: 100%;
  max-width: 18.1875rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  &__icon {
    flex-basis: 3rem;
    font-size: 3rem;
    background: $purple-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__header {
    font-weight: bold;
  }

  &__text-wrapper {
    flex-basis: 14.5625rem;
  }

  &__separator {
    margin: 1.25rem 0 1.25rem;
    width: 17.5rem;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
  }
}