.checkbox-button {
  max-width: 266px;
}

// описание
.checkbox-button__title {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 10px;
}

.checkbox-button input[type="checkbox"] {
  opacity: 0;
}

//внешний стилизируемый checkbox
.checkbox-button label::before {
  position: absolute;
  top: 3px;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

//галка
.checkbox-button span::after {
  position: absolute;
  left: 6px;
  top: 9px;
  content: "";
  display: inline-block;
  height: 4px;
  width: 6px;
  border-left: 2px solid #BC9CFF;
  border-bottom: 2px solid #BC9CFF;
  transform: rotate(-45deg);
}

.checkbox-button label {
  position: relative;
  display: inline-block;
}