@import '../checkbox-button/checkbox-button.scss';

.checkbox-buttons {
  width: 100%;
  max-width: 16.625rem;

  &__title {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $dark100;
    margin-bottom: 0.535rem;
  }

  &__button:nth-child(n+2) {
    margin-top: 10px;
  }
}

.rich-checkbox-buttons {
  width: 100%;
  max-width: 16.625rem;

  &__title {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $dark100;
    margin-bottom: 0.535rem;
  }

  &__button:nth-child(n+2) {
    margin-top: 0.3125rem;
  }
}