include ../../components/search-card/search-card.pug
include ../../components/registration-card/registration-card.pug
include ../../components/price-card/price-card.pug
include ../../components/login-card/login-card.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/calendar/calendar.pug
include ../../components/room-card/room-card.pug
- 
  let dropArrayGuests = [
    {item: 'Взрослые', id: 'adults', group: 'true',},
    {item: 'Дети', id: 'kids', group: 'true',},
    {item: 'Младенцы', id: 'babies', group: 'false',},
  ];
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='cards')
    meta(name='description' content='Cards')
    title Cards
    link(rel='stylesheet' href='./cards.scss')
    script(src='../jquery-for-parcel.js')
    script(src='./cards.js')
  body
    br
    br
    br
    div(style="height: 500px; display: flex; justify-content: center; align-items: center;")
      //+registration-card({dropdownArray: dropArrayGuests})
      //-
        +price-card({dropdownArray: dropArrayGuests,
                    number: '888',
                    type: 'люкс',
                    price: '9 990',
                    feeCount: '0',
                    feeDiscount: '2 179',
                    addFeeCount: '300',
        })
      //-
      //-+calendar()

      br
      +room-card({
        imageUrl: '../../images/cards/image.jpg',
        number: '888',
        type: 'люкс',
        price: '9 990',
        starsCount: 3,
        reviewsCount: 2,
      })


