mixin text-field(options)
  -
    let className = 'text-field';
    className += (options.isMasked == 'true') ? ' js-text-field_masked' : '';
  input(class= className, type= options.type, placeholder= options.placeholder)
