mixin text-field(options)
  -
    let className = 'text-field';
    className += (options.isMasked == 'true') ? ' js-text-field_masked' : '';
  input(class= className, type= options.type, placeholder= options.placeholder)

mixin sub-text-field(options)
  -
    let subClassName = 'sub-text-field';
    subClassName += (options.isSmall == 'true') ? ' sub-text-field_small' : '';
  div(class= subClassName)
    form.sub-text-field__form(action='get', link='${options.link}')
      +text-field({type: options.type, isMasked: options.isMasked, placeholder: options.placeholder})
      button.sub-text-field__button.material-icons arrow_forward