.text-field {
  min-width: 320px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  vertical-align: top;
  color: $dark75;
  border: 1px solid $dark25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 14px 12px 14px;

  &::placeholder {
    color: $dark25;
  }

  &:hover,
  &:focus {
    border: 1px solid $dark50;
  }
  // Модификатор для фокуса/ховера, возможно сделаю в стилях контейнера
  //&_focused-hovered {
  //  border: 1px solid $dark50;
  //}
}
