mixin slider(options)
  -
    let title='';
    title += options.title == undefined ? 'range slider' : options.title;
  .slider
    .slider__label
      p.slider__title= title
      .slider__prices
        span.slider__from.js-slider-from
        span.slider__separator -
        span.slider__to.js-slider-to
    <input type="text" class="js-range-slider" name="my_range" value="" />
    p.slider__footer= options.footer